$btn_bg: linear-gradient(90deg, rgba(36, 0, 32, 1) 0%, rgba(77, 6, 84, 1) 22%, rgba(121, 9, 113, 1) 60%, rgba(223, 129, 21, 1) 74%, rgba(245, 148, 0, 1) 77%, rgba(219, 114, 27, 1) 79%, rgba(207, 115, 10, 1) 83%, rgba(238, 120, 0, 1) 93%, rgba(251, 96, 0, 1) 100%);
$btn_bg2:linear-gradient(90deg, rgba(36,0,32,1) 0%, rgba(77,6,84,1) 10%, rgba(92,7,94,1) 15%, rgba(105,4,105,1) 17%, rgba(121,9,113,1) 19%, rgba(223,129,21,1) 28%, rgba(245,148,0,1) 77%, rgba(219,114,27,1) 79%, rgba(228,130,18,1) 83%, rgba(218,131,35,1) 85%, rgba(238,120,0,1) 93%, rgba(251,96,0,1) 100%);
$bg_color: rgba(0, 0, 0, 0.959);
$bg_color2: black;

$text_bg: #D504D5;
$text_gradient: linear-gradient(to right, #D504D5 0%, #db721b 100%);
$text_color: #DB721B;
$text_default: #fff;
$text_default2: #ffffffd0;

$text1: 'Josefin Sans', sans-serif;
$text2: 'Mitr', sans-serif;
$text3: 'Roboto', sans-serif;